POSTGRES_DB = "postgres"
POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = "StrongPassword1234!"
FLASK_ENV = "development"
SECRET_KEY = 'supersecretkey'
DB_NAME = "database.sqlite"
MAIL_SERVER = "smtp.server"
MAIL_PORT = "465"
MAIL_USERNAME = "user@sample_domain"
MAIL_PASSWORD = "StrongPassword1234!"
DOMAIN_NAME = "domain"
DATABASE_URL = "postgresql://postgres:StrongDBPassword1234!@db:5432/postgres"
MAIL_USE_SSL = "true"
