{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            
            {{ form.csrf_token }}
            <p>{{ form.email.label }} {{ form.email() }}</p>
            <p>{{ form.password.label }} {{ form.password() }}</p>

            <button id="toggle-password" type="button" aria-label="Show password as plain text. Warning: this will display your password on the screen">Show password</button>
            
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='showpassword.js')}}"></script>
{% endblock %}
