{% extends "base.html" %}
{% block content %}

    <form method="POST" action="{{ url_for('views.task_edit', task_id=task.id) }}">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.content.label }} {{ form.content() }}
    {{ form.category.label }} {{ form.category() }}
    {{ form.completed.label }} {{ form.completed() }}
    <br />
    
    

    <br />
    <button type="submit" class="button is-block is-info is-large is-fullwidth">Edit</button>
    <button class="button is-block is-info is-large is-fullwidth" href="{{ url_for('views.todo_list') }}">Cancel</button>

{% endblock %}