{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ current_user.name.capitalize() }}!
</h1>

<form method="POST" action="/todo_list">
    <input type="text" id="name" name="name" placeholder="Name" required="true" autofocus>
    <input type="text" id="content" name="content" placeholder="Text">
    <button class="button is-block is-info is-large is-fullwidth">Add task</button>
</form>

{% for task in current_user.tasks %}
  <div class="lc-block d-block mx-auto mb-4 {% if task.completed %}text-decoration-line-through{% endif %}">
    {{ task.name }}
    <br />
    {{ task.text }}
    <br />
    {{ task.date }}
    <form action="{{ url_for('views.delete_task', task_id = task.id) }}" method=POST>
      <button type="submit" name="close" id="close">&#10006</button>
    </form>
  </div>
{% endfor %}

{% endblock %}